<template>
  <div class="center">
    <h1>下班倒计时</h1>
    <div class="time">{{ sec }}</div>
    <h2>劳动光荣，请坚守您的岗位</h2>
  </div>
</template>

<script>
import moment from 'moment'

const xiabanTime = moment().hour(18).minute(0).second(0)
const shangbanTime = moment().hour(9).minute(0).second(0)
document.title = '下班倒计时'

export default {
  data () {
    return {
      ms: 0,
      interval: null
    }
  },
  computed: {
    sec () {
      return (this.ms / 1000).toFixed(2)
    }
  },
  methods: {
    getMs () {
      const now = moment()
      let ms =  xiabanTime.diff(now)
      if (ms < 0) {
        return 0
      } else if (now.diff(shangbanTime) < 0) {
        return 0
      } else {
        return ms
      }
    },
    loop () {
      const ms = this.ms = this.getMs()
      if (ms <= 0) {
        this.stop()
      }
    },
    stop () {
      clearInterval(this.interval)
    }
  },
  created () {
    this.interval = setInterval(this.loop, 10)
  },
  beforeDestroy () {
    this.stop()
  }
}
</script>

<style>
.center {
  text-align: center;
}
.time {
  font-size: 5em;
}
</style>
